body {
  background-color:#EAF6F6;
}

hr {
  border-color: grey;
  border-width: 5px;
  border-style:none;
  border-top-style: dotted;
  width: 5%;

}

h1, h3 {
  color: #66BFBF
}

img {
  border-radius: 100%;
}
